name: CI

on:
  push:
    branches:
    - main
  schedule:
    # Runs at 00:00 UTC every Monday to ensure that CI does not bitrot.
    - cron: '0 0 * * 1'
  pull_request:

jobs:
  pod-lint:
    name: Pod Lint
    runs-on: macos-15
    permissions:
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.5'
          bundler-cache: true
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_26.1.1.app/Contents/Developer
      - name: Download visionOS
        run: |
          sudo xcodebuild -runFirstLaunch
          sudo xcrun simctl list
          sudo xcodebuild -downloadPlatform visionOS
          sudo xcodebuild -runFirstLaunch
      - name: Lint Podspec
        run: bundle exec pod lib lint --verbose --fail-fast --swift-version=6.2
  spm-16:
    name: Build Xcode 26
    runs-on: macos-15
    strategy:
      matrix:
        platforms: [
          'iOS_18,watchOS_11',
          'macOS_26,tvOS_18',
          'visionOS_2'
        ]
      fail-fast: false
    permissions:
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.5'
          bundler-cache: true
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_26.4.app/Contents/Developer
      - name: Download visionOS
        if: matrix.platforms == 'visionOS_2'
        run: |
          sudo xcodebuild -runFirstLaunch
          sudo xcrun simctl list
          sudo xcodebuild -downloadPlatform visionOS
          sudo xcodebuild -runFirstLaunch
      - name: Download iOS
        if: matrix.platforms == 'iOS_18,watchOS_11'
        run: |
          sudo xcodebuild -runFirstLaunch
          sudo xcrun simctl list
          sudo xcodebuild -downloadPlatform iOS -buildVersion 22F77
          sudo xcodebuild -runFirstLaunch
      - name: Build and Test Framework
        run: Scripts/build.swift ${{ matrix.platforms }}
      - name: Prepare Coverage Reports
        run: ./Scripts/prepare-coverage-reports.sh
      - name: Upload Coverage Reports
        if: success()
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          verbose: true
  spm-16-swift:
    name: Swift Build Xcode 26
    runs-on: macos-15
    permissions:
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.5'
          bundler-cache: true
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_26.1.1.app/Contents/Developer
      - name: Build and Test Framework
        run: xcrun swift test -c release -Xswiftc -enable-testing
  linux-6-2:
    name: "Build and Test on Linux Swift 6.2"
    runs-on: ubuntu-24.04
    container: swift:6.2
    permissions:
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Build and Test Framework
        run: swift test -c release --enable-code-coverage -Xswiftc -enable-testing
      - name: Prepare Coverage Reports
        run: |
          llvm-cov export -format="lcov" .build/x86_64-unknown-linux-gnu/release/swift-async-queuePackageTests.xctest -instr-profile .build/x86_64-unknown-linux-gnu/release/codecov/default.profdata > coverage.lcov
      - name: Install curl for Codecov
        run: |
          apt-get update
          apt-get install -y --no-install-recommends curl ca-certificates
      - name: Upload Coverage Reports
        if: success()
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          verbose: true
  readme-validation:
    name: Check Markdown links
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Link Checker
        uses: AlexanderDokuchaev/md-dead-link-check@d5a37e0b14e5918605d22b34562532762ccb2e47 # v1.2.0
  lint-swift:
    name: Lint Swift
    runs-on: ubuntu-latest
    container: swift:6.2
    permissions:
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Lint Swift
        run: swift run --package-path CLI swiftformat . --lint
